.catergorylist a {
  text-decoration: none;
  color: rgba(108, 32, 24, 1);
}

/* FORSIDE BILLEDET */
.forside-billede {
  position: relative; /* gør at teksten kan ligge ovenpå */
  display: inline-block; /* så den opfører sig som blok = jeg kan ha højde og bredde på men den lægger sig i kun rundt om sit indhold*/
}
.forside-billede img {
  width: 100%; /* fylder hele bredden */
}
.tekst-forsidebillede {
  position: absolute; /* Gør det muligt at placere tekst ovenpå billedet */
  top: 36%; /* Placere teksten hvor jeg vil ha den på billedet lodret */
  left: 50%; /* Placere ca midt på billedet vandret */
  transform: translate(-55%, -50%); /* jeg centrer teksten helt præcist */
  color: #742921;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* så teksten bliver på en linje */
  font-size: 1.7rem;
  text-shadow: 2px 2px 4px #742921;
}
/* så teksten bliver mindre */
@media (max-width: 800px) {
  .tekst-forsidebillede h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 750px) {
  .tekst-forsidebillede h2 {
    font-size: 1.5rem;
  }
}

/* 3 billeder med link */
/* 
.whatareyoulookingfor{
  padding: 3rem 1rem;

} */

.whatareyoulookingfor h2 {
  font-family: "Playfair";
  margin: 30px;
  text-align: center;
  color: #742921;
  font-size: xx-large;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.billederne {
  text-decoration: none;
  color: #742921;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.billederne img {
  width: 80%;
  aspect-ratio: 1 / 1; /* gør billedet kvadratisk */
  object-fit: cover; /* beskær billedet pænt */
  border-radius: 50%; /* gør det rundt */
  display: block;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.billederne span {
  font-family: "Lato";
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}
